<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/recipes/css/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700" media="all">
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="main-nav">
        </nav>
      </div>
    </header>
    
     <section class="hero">
        <div class="small-container">
         <a href = "/recipes"> <h2>Recipes</h2></a>
          <p class="sub-text">A repository of recipes that James and I use.</p>
        </div>
      </section>
    
    <div class="content">
      {{ content }}
    </div>
    <footer>
      <div class="container">
        <p class="center-text"> <a href="https://github.com/trianglegirl/recipes"> Github repository.</a></p>
      </div>
    </footer>
  </body>
</html>
